.flex_container1{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: flex-start;
}
.flex_container2{
    flex: 50%;
    display: flex;
    flex-direction: column;
}
@media (min-height: 400px) {
    .block2 {
      height: 70%;
    }
  }
.flex_container3{
    flex:25%;
    display: flex;
    flex-direction: column;
}

.block1{
    flex:100%;
    height: 15%;
}
.block2{
    flex:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block3{
    flex:14%;
}
.block4{
    flex:86%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block5{
    flex:86%;
}
.block6{
    flex:14%;
}
.examples li{
    display: inline;
}
.examples{
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.block3>p{
    margin-bottom: 0;
}
#outputList {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#outputList li {
    display: inline;
    margin-left: 10px;
}
h4{
    margin-bottom: 0;
    margin-top: 2px;
}
@media only screen and (max-width: 600px){
    html,body{
        height:1265px;
    }
    .block1{
        flex:100%;
        height: 100px;
    }
    .block2 {
        height: 600px;
    }
    .block4{
        height:400px;
        flex:none;
    }
}